[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
pandas = "*"
scikit-learn = "*"
flask = "*"
requests = "*"
gunicorn = "*"
selenium = "*"
bs4 = "*"
nltk = "*"
gensim = "*"
annoy = "*"
clean-text = "*"
Unidecode = "*"
Pipfile = "*"

[requires]
python_version = "3.8"
